*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283618;
}

.calculator {
    text-align: center;
    padding: 20px;
    background-color: #606C38;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: white;
}

input {
    width: 30%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    outline: 0;
    color: white;
}

.buttons {
    margin-top: 20px;
}

button {
    font-size: 1.5em;
    padding: 15px 20px;
    margin: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    min-height: 30px;
}